@import "./normalize.css";
@import "../fonts/fonts.css";

body {
  font-family: "MyriadProRegular";
  font-size: 16px;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
@mixin before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  width: 26px;
  height: 26px;
}
@mixin default {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.header {
  &-top {
    position: fixed;
    top: 0;
    background-color: #00aa4b;
    width: 100vw;
    z-index: 100;

    &__nav {
      display: flex;
      justify-content: space-between;
      max-width: 1920px;
      padding: 0;
      margin: 0 auto;

      & ul:first-child {
        border-right: none;
        border-left: none;
        padding-left: 0;
      }
      & ul {
        flex-grow: 1;
        padding: 0 30px;
        border-right: 1px solid #67be7e;
        border-left: 1px solid #67be7e;
      }
      & ul:last-child {
        border-right: none;
        border-left: none;
        padding-right: 0;
      }
    }

    &__link {
      text-decoration: none;
      color: #e9f5ec;
      &:hover {
        color: #ffffff;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 27px;
      position: relative;
    }
  }
}

.v-email-header {
  width: 145px;
  &__btn-copy {
    display: none;

    &_active {
      @include default();
      display: block;
      background-color: rgb(35, 35, 35);
      box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.49);
      padding: 20px 29px;
      position: absolute;
      top: 61px;
      color: #ffffff;
      border-radius: 50px;
    }
  }
}

.v-email-header,
.v-modal-header {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  &__btn {
    @include default();
    opacity: 0.9;
    color: #ffffff;
  }
}
.v-modal-header {
  width: 138px;
  position: relative;
  &_active {
    width: 100%;
    height: 100%;
    top: 59px;
    position: fixed;
    left: 0;
    background-color: #000000;
    opacity: 0.502;
    z-index: 1;
  }
  &__feedback {
    &_active {
      display: flex;
      justify-content: space-around;
      z-index: 2;
      top: 59px;
      background: #ffffff;
      position: absolute;
      width: 900px;
      padding: 50px 0;
    }
  }

  &__btn-close {
    position: absolute;
    right: 40px;
    top: 20px;
    @include default();
    &::before {
      @include before();
      background-image: url(../static/close.svg);
    }
  }
  &__call-phone {
    color: #67be7e;
  }
  &__text {
    margin: 0;
    color: #c4c4c4;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  &__inputs label:last-child {
    margin-bottom: 0;
  }
  &__radio {
    display: none;
  }
  &__telephone-handler,
  &__viber,
  &__telegram,
  &__whatsapp {
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    width: max-content;
    border-bottom: 1px solid transparent;
    margin-left: 34px;
    margin-bottom: 24px;
    &:hover {
      border-bottom: 1px solid rgb(186, 186, 186);
    }
  }
  &__telephone-handler {
    &::before {
      @include before();
      background-image: url(../static/telephone-handle.png);
      right: 106px;
    }
  }
  &__viber {
    &::before {
      @include before();
      background-image: url(../static/viber.png);
      right: 48px;
    }
  }
  &__telegram {
    &::before {
      @include before();
      background-image: url(../static/telegram.png);
      right: 81px;
    }
  }
  &__whatsapp {
    &::before {
      @include before();
      background-image: url(../static/whatsapp.png);
      right: 88px;
    }
  }
  &__radio:checked + .checked {
    border-bottom: 1px solid rgb(186, 186, 186);
  }
  &__feedback-title,
  &__call-phone {
    font-size: 1.7em;
  }
  &__input {
    @include default();
    padding: 4px 0 4px 10px;
    border-bottom: 1px solid rgb(186, 186, 186);
    &:focus {
      border-color: rgb(255, 157, 12);
    }
  }
  &__label {
    margin-top: 16px;
  }
  &__send-btn {
    @include default();
    background: rgb(255, 157, 12);
    color: #fff;
    border-radius: 50px;
    padding: 14px 30px;
    margin-top: 30px;
  }
}
.btn {
  &-email {
    position: relative;
    &::before {
      @include before();
      background-image: url(../static/email.png);
      top: 3px;
      right: 115px;
    }
  }
  &-telephone {
    position: relative;
    &::before {
      @include before();
      background-image: url(../static/telephone.png);
      right: 105px;
    }
  }
}
.main {
  background: #f4f2f2;
  margin-top: 60px;
  width: 100vw;
}
.brands {
  max-width: 1920px;
  margin: 0 auto;
  background: #fff;
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px 0;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px 0;
    border-right: 1px solid rgb(232, 231, 231);
    &:last-child {
      border-right: none;
    }
    &:last-child > a {
      font-size: 1.125em;
      color: #000000;
    }
  }
}
.news {
  max-width: 1790px;
  padding-right: 65px;
  padding-left: 65px;
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 580px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-evenly;
    flex-wrap: wrap;
    width: 65%;
    flex-grow: 1;
    max-height: 160px;
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      max-height: inherit;
      margin-bottom: 0;
      flex-wrap: nowrap;
      & .news__img-box {
        width: 100%;
        height: 300px;
        position: relative;
        margin-right: 0;
        & .news__img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
      & .news__brand-date,
      & .news__item-title,
      & .news__text {
        width: 100%;
        margin: 0;
      }
    }
  }
  &__img-box {
    width: 20%;
    height: 100%;
    position: relative;
  }
  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  &__brand-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  &__brand {
    color: #67be7e;
    margin-top: 0;
  }
  &__date {
    color: #c4c4c4;
    margin-top: 0;
  }
  &__item-title {
    margin-top: 0;
    font-size: 1.5em;
    overflow: hidden;
    width: 70%;
  }
  &__text {
    overflow: hidden;
    margin: 0;
    width: 70%;
  }
  &__button {
    @include default();
    color: #000000;
    margin-top: 55px;
    border: 2px solid #000000;
    padding: 7px 40px;
    border-radius: 50px;
  }
}
.news,
.recommend,
.ceo {
  font-family: "MyriadProLight";
  margin: 0 auto;
  margin-top: 170px;
  font-size: 1em;
  &__title {
    font-size: 2.5em;
    line-height: 1.2;
  }
}
.ceo,
.recommend {
  max-width: 1766px;
  padding-right: 77px;
  padding-left: 77px;
}
.recommend {
  &__title {
    margin-bottom: 15px;
  }
  &__title,
  &__text {
    text-align: center;
  }
  &__text {
    color: #787878;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 30%;
  }
  &__equipment {
    &-list {
      display: flex;
      justify-content: space-between;
      height: 800px;
    }
    &_left {
      text-align: center;
      overflow: hidden;
      background: #ffffff;
      padding: 60px 90px;
      width: 29%;
      position: relative;
    }
    &-brand,
    &-abat__brand,
    &-hicold__brand {
      font-size: 1.5em;
      margin: 0;
    }
    &-text,
    &-abat__text,
    &-hicold__text {
      width: 50%;
      color: #787878;
      margin-bottom: 20px;
    }
    &-text {
      margin: 0 auto;
    }
    &-title,
    &-abat__title,
    &-hicold__title {
      font-size: 2em;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &-box-img {
      position: absolute;
      left: 0;
      right: 0;
    }
    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
    }
    &-abat {
      position: relative;
      overflow: hidden;
      background: #232323;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &__title,
      &__text,
      &__brand {
        width: 50%;
        margin: 0 auto;
        color: #ffffff;
      }
      &__title {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      &__text {
        color: #787878;
      }
      &__img-box {
        position: absolute;
        width: 25%;
        height: 100%;
        margin: 0;
        right: 78%;
      }
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }
    &-hicold {
      position: relative;
      overflow: hidden;
      background: #ffffff;
      height: 38%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &__img-box {
        width: 36%;
        height: 100%;
        position: absolute;
        left: 71%;
        top: 7px;
      }
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}
.ceo {
  padding-bottom: 170px;
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__offer {
    width: 60%;
    &-title {
      font-size: 2.5em;
      line-height: 1.2;
    }
    &-subtitle {
      font-size: 2.5em;
      font-weight: 100;
      margin: 20px 0;
    }
  }
  &__logo {
    display: flex;
    flex-direction: column;
    width: 20%;
    &-box-img {
      width: 150px;
      height: 150px;
      margin-top: 60px;
      margin-bottom: 20px;
    }
    &-img {
      width: 100%;
    }
    &-main-link {
      color: #000000;
      font-size: 2.5em;
      font-weight: 600;
    }
    &-text {
      margin: 0;
      color: #787878;
    }
    &-group {
      font-weight: 600;
      margin-bottom: 0;
    }
    &-mark {
      color: #787878;
      margin-bottom: 20px;
    }
  }
  &__button {
    margin-top: 40px;
    @include default();
    background: transparent;
    width: 50px;
    height: 50px;
    position: relative;
    &::before {
      @include before();
      background-image: url(../static/plus.svg);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.nav-footer {
  width: 100vw;
  background: #232323;
  padding-top: 90px;
  padding-bottom: 50px;
  &__list {
    max-width: 1766px;
    padding-right: 77px;
    padding-left: 77px;
    font-family: "MyriadProLight";
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: #6d6d6d;
    font-size: 1.5em;
  }
  &__sublist {
    padding: 0;
    margin-top: 35px;
    & li {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0px;
      }
      & a {
        color: #ffffff;
      }
    }
  }
  &__text {
    margin: 0;
    color: #fff;
    margin-bottom: 25px;
  }
  &__work-time {
    margin-bottom: 25px;
    & p {
      color: #fff;
      margin: 0;
    }
  }
  &__address {
    margin-top: 25px;
    & a p {
      margin: 0;
    }
  }
}
.address-footer {
  width: 100vw;
  background: #191919;
  padding-top: 40px;
  padding-bottom: 40px;
  &__items {
    max-width: 1766px;
    padding-right: 77px;
    padding-left: 77px;
    font-family: "MyriadProLight";
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-style: normal;
  }
  &__item {
    &_left {
      display: flex;
      align-items: center;
    }
    &_right {
      display: flex;
      align-items: baseline;
      & a {
        color: #ffffff;
        font-size: 1.1em;
      }
    }
  }
  &__box-logo {
    width: 40px;
    height: 40px;
  }
  &__logo {
    width: 100%;
    height: 100%;
  }
  &__link-main {
    margin-left: 15px;

    & a {
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 600;
    }
    & p {
      margin: 0;
      color: #787878;
    }
  }
}
