@import "./normalize.css";
@import "../fonts/fonts.css";

body {
  font-family: "MyriadProRegular";
  font-size: 16px;
  line-height: 1.2;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
@mixin before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  width: 26px;
  height: 26px;
}
@mixin default {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.active-sub-menu {
  color: #faad3d;
}
.flag {
  object-fit: cover;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-right: 5px;
}
.search {
  display: flex;
  &__select {
    outline: none;
    position: relative;
    &-btn {
      @include default();
      background: #f1f1f1;
      height: 100%;
      color: #787878;
      border-radius: 10px 0 0 10px;
      padding-left: 15px;
      padding-right: 26px;
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        border: 7px solid transparent;
        border-top: 8px solid #000000;
        position: absolute;
        top: 15px;
        right: 8px;
      }
    }
    &-list {
      display: block;
      position: absolute;
      top: 36px;
      left: 0;
      background: #f1f1f1;
      padding: 10px 15px;
    }
    &-title {
      color: #787878;
      margin-bottom: 30px;
      user-select: none;
    }
    &-option {
      padding: 5px;
      outline-color: antiquewhite;
      margin-bottom: 5px;
      cursor: pointer;
      &:hover {
        color: #67be7e;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__input {
    @include default();
    background: #ffffff;
    padding: 0;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  &__button {
    @include default();
    position: relative;
    height: 35px;
    background: #ff9d0c;
    padding: 4px 10px;
    border-radius: 0 10px 10px 0;
  }
  &__img {
    height: 100%;
    filter: brightness(0) invert(1);
  }
  &__form {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
  }
  &__modal {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.502;
    position: absolute;
    top: 59px;
    left: 0;
    z-index: 97;
    &-list {
      position: absolute;
      top: 39px;
      background: #ffffff;
      z-index: 98;
      width: 100%;
      padding: 20px 30px;
      box-sizing: border-box;
    }
    &-item {
      font-family: "MyriadProLight";
      border-bottom: 1px solid #c4c4c4;
      margin-bottom: 10px;
      font-weight: 600;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    &-subitem {
      margin-bottom: 10px;
      color: #c4c4c4;
      font-size: 0.85em;
      font-weight: 100;
    }
  }
}

.v-email-header {
  width: 145px;
  &__btn-copy {
    display: none;

    &_active {
      @include default();
      display: block;
      background-color: rgb(35, 35, 35);
      box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.49);
      padding: 20px 29px;
      position: absolute;
      top: 61px;
      color: #ffffff;
      border-radius: 50px;
      z-index: 101;
    }
  }
}

.v-email-header,
.v-modal-header {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  &__btn {
    @include default();
    opacity: 0.9;
    color: #ffffff;
  }
}
.v-modal-header {
  width: 138px;
  position: relative;
  &_active {
    width: 100%;
    height: 100%;
    top: 59px;
    position: fixed;
    left: 0;
    background-color: #000000;
    opacity: 0.502;
    z-index: 101;
  }
  &__feedback {
    &_active {
      display: flex;
      justify-content: space-around;
      z-index: 102;
      top: 59px;
      background: #ffffff;
      position: absolute;
      width: 900px;
      padding: 50px 0;
    }
  }

  &__btn-close {
    position: absolute;
    right: 40px;
    top: 20px;
    @include default();
    &::before {
      @include before();
      background-image: url(../static/close.svg);
    }
  }
  &__call-phone {
    color: #67be7e;
  }
  &__text {
    margin: 0;
    color: #c4c4c4;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  &__inputs label:last-child {
    margin-bottom: 0;
  }
  &__radio {
    display: none;
  }
  &__telephone-handler,
  &__viber,
  &__telegram,
  &__whatsapp {
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    width: max-content;
    border-bottom: 1px solid transparent;
    margin-left: 34px;
    margin-bottom: 24px;
    &:hover {
      border-bottom: 1px solid rgb(186, 186, 186);
    }
  }
  &__telephone-handler {
    &::before {
      @include before();
      background-image: url(../static/telephone-handle.png);
      right: 106px;
    }
  }
  &__viber {
    &::before {
      @include before();
      background-image: url(../static/viber.png);
      right: 48px;
    }
  }
  &__telegram {
    &::before {
      @include before();
      background-image: url(../static/telegram.png);
      right: 81px;
    }
  }
  &__whatsapp {
    &::before {
      @include before();
      background-image: url(../static/whatsapp.png);
      right: 88px;
    }
  }
  &__radio:checked + .checked {
    border-bottom: 1px solid rgb(186, 186, 186);
  }
  &__feedback-title,
  &__call-phone {
    font-size: 1.7em;
  }
  &__input {
    @include default();
    padding: 4px 0 4px 10px;
    border-bottom: 1px solid rgb(186, 186, 186);
    &:focus {
      border-color: rgb(255, 157, 12);
    }
  }
  &__label {
    margin-top: 16px;
  }
  &__send-btn {
    @include default();
    background: rgb(255, 157, 12);
    color: #fff;
    border-radius: 50px;
    padding: 14px 30px;
    margin-top: 30px;
  }
}
.btn {
  &-email {
    position: relative;
    &::before {
      @include before();
      background-image: url(../static/email.png);
      top: 3px;
      right: 115px;
    }
  }
  &-telephone {
    position: relative;
    &::before {
      @include before();
      background-image: url(../static/telephone.png);
      right: 105px;
    }
  }
}

.header {
  &-top {
    background-color: #00aa4b;
    top: 0;
  }
  &-top,
  &-middle,
  &-bottom {
    position: fixed;
    width: 100vw;
  }
  &-top {
    z-index: 100;
    &__nav {
      display: flex;
      justify-content: space-between;
      max-width: 1920px;
      padding: 0 10px;
      margin: 0 auto;

      & ul:first-child {
        border-right: none;
        border-left: none;
        padding-left: 0;
      }
      & ul {
        flex-grow: 1;
        padding: 0 30px;
        border-right: 1px solid #67be7e;
        border-left: 1px solid #67be7e;
      }
      & ul:last-child {
        border-right: none;
        border-left: none;
        padding-right: 0;
      }
    }

    &__link {
      text-decoration: none;
      color: #e9f5ec;
      &:hover {
        color: #ffffff;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 27px;
    }
  }
  &-middle {
    top: 59px;
    background: #e7e6e6;
    z-index: 98;
    &__list {
      display: flex;
      justify-content: space-between;
      max-width: 1920px;
      padding: 0 10px;
      margin: 0 auto;
      align-items: center;
      & > li:first-child {
        margin-right: 25px;
      }
      & > li:nth-child(2) {
        flex-grow: 0.9;
        margin-right: 50px;
        margin-left: auto;
      }
    }
    &__link-home {
      display: flex;
      align-items: center;
    }
    &__logo-box {
      display: flex;
      align-items: center;
    }
    &__logo-box,
    &__providers-logo-box {
      width: 40px;
      height: 40px;
    }
    &__logo,
    &__providers-logo {
      width: 100%;
      height: 100%;
    }
    &__link-main {
      margin-left: 10px;
      color: #000000;
      font-size: 2.4em;
    }
    &__providers {
      display: flex;
      align-items: center;
      filter: grayscale(100%);
      &:hover {
        filter: none;
      }
      &-span {
        width: 110px;
        color: #787878;
        margin-left: 8px;
      }
    }
    &__cart-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 60px;
      background: transparent;
      transition: all 0.5s;

      &:hover {
        background-color: rgb(255, 157, 12);
        & span {
          color: #ffffff;
          & img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
    &__cart,
    &__cart-summ {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__cart-summ {
      margin-left: 8px;
    }
    &__amount {
      color: rgb(255, 157, 12);
    }
    &__summ {
      &-text {
        color: #787878;
      }
      &-amount {
        color: #000000;
      }
    }
  }
  &-bottom {
    top: 108px;
    background: #ffffff;
    z-index: 97;
    font-family: "MyriadProLight";
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    &__modal {
      z-index: 95;
      top: 136px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      max-width: 1920px;
      margin: 0 auto;
      align-items: center;
      padding: 32px 25px 20px 25px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__box-img {
      position: relative;
      width: 65px;
      height: 65px;
      background: #e8e8e8;
      border-radius: 50px;
      overflow: hidden;
      cursor: pointer;
    }
    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 15px;
      bottom: 5px;
    }
    &__sub {
      &-list {
        position: absolute;
        top: 136px;
        background: #ffffff;
        padding: 20px 0 19px 0;
        left: 0;
        z-index: 96;
        &_left {
          position: absolute;
          left: 400px;
          background: #f7f7f7;
          top: 0px;
          height: 100%;
          display: flex;
          & > ul > li {
            border-bottom: 1px solid #e1e1e1;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
      &-item {
        width: 400px;
        border-bottom: 1px solid #e1e1e1;
        &:last-child {
          border-bottom: none;
        }
        &-prod,
        &-brands,
        &-country {
          padding: 30px 40px;
          width: 350px;
          & li {
            margin-bottom: 5px;
            & span {
              color: #9a9a9a;
            }
            & a {
              color: #000000;
              font-weight: 600;
              &:hover {
                color: #faad3d;
              }
            }
          }
        }
        &-brands {
          & li a {
            font-size: 1.5em;
          }
        }
        &-country {
          & > li {
            display: flex;
            align-items: center;
          }
        }
        &-all {
          background: #00a94b;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 65px 65px 0 65px;
          &__img {
            width: 290px;
          }
          &__title {
            margin-bottom: 20px;
            margin-top: 15px;
            font-size: 1.5em;
            color: #fff;
          }
          &__link {
            color: #ffffff;
            background: #faad3d;
            padding: 10px 30px;
            border-radius: 8px;
            font-size: 1.2em;
          }
        }
      }
    }
    &__div {
      text-align: center;
      padding: 9px 0;
      position: relative;
      cursor: pointer;
      &::after {
        content: ">";
        bottom: 12px;
        right: 15px;
        position: absolute;
      }
      &:hover {
        color: #faad3d;
      }
    }
  }
}

.main {
  font-family: "MyriadProLight";
  background: #f4f2f2;
  width: 100vw;
  margin-top: 245px;
}
.offers {
  max-width: 1920px;
  height: 460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 20px;
  &-nav {
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-right: 20px;
    &__title {
      color: #faad3d;
      padding: 0 30px;
      font-size: 2em;
      margin: 0;
    }
    &__item {
      padding: 7px 0;
      border-bottom: 1px solid #e1e1e1;
      position: relative;
      &:last-child {
        border-bottom: none;
      }
      &:after {
        content: ">";
        bottom: 12px;
        right: 15px;
        position: absolute;
      }
      &:hover {
        color: #faad3d;
        & > .offers-nav__link {
          color: #faad3d;
        }
      }
    }
    &__link {
      color: #000000;
      padding-left: 30px;
      font-size: 1.2em;
    }
  }
  &-slider {
    width: 64%;
  }
  &-sale {
    background: #ffffff;
    border: 2px solid #faad3d;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0 20px 50px 20px;
    width: 13%;
    margin-left: 20px;
    &__present {
      margin-bottom: 25px;
    }
    &__title {
      margin-top: 0;
      font-size: 2.4em;
      margin-bottom: 15px;
    }
    &__link {
      color: #faad3d;
      &::after {
        content: ">";
        margin-left: 5px;
      }
    }
  }
}

.news {
  max-width: 1790px;
  padding-right: 65px;
  padding-left: 65px;

  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_left {
      height: 580px;
      width: 30%;
    }
    &_right {
      height: 580px;
      width: 65%;
      & .news__item .news__img {
        max-height: 200px;
        margin-right: 30px;
      }
    }
  }
  &__img {
    object-fit: cover;
  }
  &__published {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__brand-date,
  &__item-title,
  &__text {
    margin: 0;
  }
  &__brand {
    color: #67be7e;
    margin-top: 0;
  }
  &__date {
    color: #c4c4c4;
    margin-top: 0;
  }
  &__item-title {
    margin-top: 0;
    font-size: 1.5em;
    overflow: hidden;
    margin-bottom: 15px;
  }
  &__text {
    overflow: hidden;
    margin: 0;
  }
  &__button {
    @include default();
    color: #000000;
    margin-top: 55px;
    border: 2px solid #000000;
    padding: 7px 40px;
    border-radius: 50px;
  }
}
.news,
.recommend,
.ceo {
  font-family: "MyriadProLight";
  margin: 0 auto;
  margin-top: 170px;
  font-size: 1em;
  &__title {
    font-size: 2.5em;
    line-height: 1.2;
  }
}

.brands {
  max-width: 1920px;
  margin: 0 auto;
  background: #fff;
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px 0;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px 0;
    border-right: 1px solid rgb(232, 231, 231);
    &:last-child {
      border-right: none;
    }
    &:last-child > a {
      font-size: 1.125em;
      color: #000000;
    }
  }
}

.ceo,
.recommend {
  max-width: 1766px;
  padding-right: 77px;
  padding-left: 77px;
}
.recommend {
  &__title {
    margin-bottom: 15px;
  }
  &__title,
  &__text {
    text-align: center;
  }
  &__text {
    color: #787878;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 30%;
  }
  &__equipment {
    &-list {
      display: flex;
      justify-content: space-between;
      height: 800px;
    }
    &_left {
      text-align: center;
      overflow: hidden;
      background: #ffffff;
      padding: 60px 90px;
      width: 29%;
      position: relative;
    }
    &-brand,
    &-abat__brand,
    &-hicold__brand {
      font-size: 1.5em;
      margin: 0;
    }
    &-text,
    &-abat__text,
    &-hicold__text {
      width: 50%;
      color: #787878;
      margin-bottom: 20px;
    }
    &-text {
      margin: 0 auto;
    }
    &-title,
    &-abat__title,
    &-hicold__title {
      font-size: 2em;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &-box-img {
      position: absolute;
      left: 0;
      right: 0;
    }
    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
    }
    &-abat {
      position: relative;
      overflow: hidden;
      background: #232323;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &__title,
      &__text,
      &__brand {
        width: 50%;
        margin: 0 auto;
        color: #ffffff;
      }
      &__title {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      &__text {
        color: #787878;
      }
      &__img-box {
        position: absolute;
        width: 25%;
        height: 100%;
        margin: 0;
        right: 78%;
      }
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }
    &-hicold {
      position: relative;
      overflow: hidden;
      background: #ffffff;
      height: 38%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &__img-box {
        width: 36%;
        height: 100%;
        position: absolute;
        left: 71%;
        top: 7px;
      }
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}
.ceo {
  padding-bottom: 170px;
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__offer {
    width: 60%;
    &-title {
      font-size: 2.5em;
      line-height: 1.2;
    }
    &-subtitle {
      font-size: 2.5em;
      font-weight: 100;
      margin: 20px 0;
    }
  }
  &__logo {
    display: flex;
    flex-direction: column;
    width: 20%;
    &-box-img {
      width: 150px;
      height: 150px;
      margin-top: 60px;
      margin-bottom: 20px;
    }
    &-img {
      width: 100%;
    }
    &-main-link {
      color: #000000;
      font-size: 2.5em;
      font-weight: 600;
    }
    &-text {
      margin: 0;
      color: #787878;
    }
    &-group {
      font-weight: 600;
      margin-bottom: 0;
    }
    &-mark {
      color: #787878;
      margin-bottom: 20px;
    }
  }
  &__button {
    margin-top: 40px;
    @include default();
    background: transparent;
    width: 50px;
    height: 50px;
    position: relative;
    &::before {
      @include before();
      background-image: url(../static/plus.svg);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.nav-footer {
  width: 100vw;
  background: #232323;
  padding-top: 90px;
  padding-bottom: 50px;
  &__list {
    max-width: 1766px;
    padding-right: 77px;
    padding-left: 77px;
    font-family: "MyriadProLight";
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: #6d6d6d;
    font-size: 1.5em;
  }
  &__sublist {
    padding: 0;
    margin-top: 35px;
    & li {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0px;
      }
      & a {
        color: #ffffff;
      }
    }
  }
  &__text {
    margin: 0;
    color: #fff;
    margin-bottom: 25px;
  }
  &__work-time {
    margin-bottom: 25px;
    & p {
      color: #fff;
      margin: 0;
    }
  }
  &__address {
    margin-top: 25px;
    & a p {
      margin: 0;
    }
  }
}
.address-footer {
  width: 100vw;
  background: #191919;
  padding-top: 40px;
  padding-bottom: 40px;
  &__items {
    max-width: 1766px;
    padding-right: 77px;
    padding-left: 77px;
    font-family: "MyriadProLight";
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-style: normal;
  }
  &__item {
    &_left {
      display: flex;
      align-items: center;
    }
    &_right {
      display: flex;
      align-items: baseline;
      & a {
        color: #ffffff;
        font-size: 1.1em;
      }
    }
  }
  &__box-logo {
    width: 40px;
    height: 40px;
  }
  &__logo {
    width: 100%;
    height: 100%;
  }
  &__link-main {
    margin-left: 15px;

    & a {
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 600;
    }
    & p {
      margin: 0;
      color: #787878;
    }
  }
}
